[build]
  base    = "web"
  command = "npm run build"
  publish = ".next"

[functions]
  directory    = "netlify/functions"
  node_bundler = "esbuild"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"
